@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
   --foreground-rgb: 0, 0, 0;
   --background-start-rgb: 214, 219, 220;
   --background-end-rgb: 255, 255, 255;

   --darker-blue-70-opac: rgba(43,5,103,0.7);
   --darker-blue-30-opac: rgba(43,5,103,0.3);
   --darker-blue: #2b0567;
   --lighter-blue: #3ba5f0;
}

@media (prefers-color-scheme: dark) {
   :root {
      /* --foreground-rgb: 255, 255, 255; */
      --background-start-rgb: 0, 0, 0;
      --background-end-rgb: 0, 0, 0;
   }

   body {
      filter: invert(100%);
      color: white;
   }
}

body {
   color: rgb(var(--foreground-rgb));
   background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb)))
      rgb(var(--background-start-rgb));
}

.box .container .input-field .input,
.box .container .input-field .submit {
   transition: 0.8s;
}
.box .container .input-field .submit:hover {
   box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.3);
}
