@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
   /* --foreground-rgb: 0, 0, 0;
   --background-start-rgb: 214, 219, 220;
   --background-end-rgb: 255, 255, 255; */

   --foreground-rgb: 255, 255, 255;
   --background-start-rgb: 41, 36, 35;
   --background-end-rgb: 0, 0, 0;

   /* --darker-blue-70-opac: rgba(43,5,103,0.7);
   --darker-blue-30-opac: rgba(43,5,103,0.3);
   --darker-blue: #2b0567;
   --lighter-blue: #3ba5f0; */

   --darker-blue-70-opac: rgba(43, 5, 103, 0.7);
   --darker-blue-30-opac: rgba(43, 5, 103, 0.3);
   --darker-blue: #2b0567;
   --lighter-blue: #3ba5f0;
}

@media (prefers-color-scheme: dark) {
   /* :root {
      --foreground-rgb: 255, 255, 255;
      --background-start-rgb: 0, 0, 0;
      --background-end-rgb: 0, 0, 0;
   } */

   body {
      filter: none;
      color: white;
   }
}

body {
   filter: none;
   color: rgb(var(--foreground-rgb));
   background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb)))
      rgb(var(--background-start-rgb));
   overflow-x: hidden;
}

.box .container .input-field .input,
.box .container .input-field .submit {
   transition: 0.8s;
}
.box .container .input-field .submit:hover {
   box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.3);
}

.top-image-gradient {
   background: rgb(20, 17, 17);
   background: linear-gradient(
      0deg,
      rgba(20, 17, 17, 1) 0%,
      rgba(35, 35, 41, 0.7) 70%
   ); /* rgba(14, 13, 42, 0.7) */
}
.below-image-gradient {
   background: rgb(20, 17, 17);
   background: linear-gradient(180deg, rgba(20, 17, 17, 1) 0%, rgba(20, 17, 17, 0) 90%);
}
